.pricing-card-item {
    padding: 50px;
    position: relative;
    z-index: 99;
    margin-top: 30px;
    background-color: #DDFFF5;
    max-width: 415px;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424 667"><path fill-rule="evenodd" clip-rule="evenodd"  d="M389 27C399.493 27 408 18.4934 408 8C408 7.33039 407.965 6.66886 407.898 6.01712C407.596 3.10882 409.585 0 412.509 0H420C422.209 0 424 1.79086 424 4V663C424 665.209 422.209 667 420 667H403C400.791 667 399.044 665.189 398.584 663.028C396.758 654.441 389.131 648 380 648C370.869 648 363.242 654.441 361.416 663.028C360.956 665.189 359.209 667 357 667H336C333.791 667 332.044 665.189 331.584 663.028C329.758 654.441 322.131 648 313 648C303.869 648 296.242 654.441 294.416 663.028C293.956 665.189 292.209 667 290 667H269C266.791 667 265.044 665.189 264.584 663.028C262.758 654.441 255.131 648 246 648C236.869 648 229.242 654.441 227.416 663.028C226.956 665.189 225.209 667 223 667H202C199.791 667 198.044 665.189 197.584 663.028C195.758 654.441 188.131 648 179 648C169.869 648 162.242 654.441 160.416 663.028C159.956 665.189 158.209 667 156 667H135C132.791 667 131.044 665.189 130.584 663.028C128.758 654.441 121.131 648 112 648C102.869 648 95.242 654.441 93.4158 663.028C92.9562 665.189 91.2091 667 89 667H68C65.7909 667 64.0438 665.189 63.5842 663.028C61.758 654.441 54.1312 648 45 648C35.8688 648 28.242 654.441 26.4158 663.028C25.9562 665.189 24.2091 667 22 667H4C1.79086 667 0 665.209 0 663V4C0 1.79086 1.79087 0 4.00001 0H30.4908C33.4147 0 35.4038 3.10884 35.1022 6.01715C35.0346 6.66888 35 7.33039 35 8C35 18.4934 43.5066 27 54 27C64.4934 27 73 18.4934 73 8C73 7.33039 72.9654 6.66887 72.8978 6.01714C72.5962 3.10884 74.5853 0 77.5092 0H97.4908C100.415 0 102.404 3.10884 102.102 6.01714C102.035 6.66887 102 7.33039 102 8C102 18.4934 110.507 27 121 27C131.493 27 140 18.4934 140 8C140 7.3304 139.965 6.66888 139.898 6.01716C139.596 3.10885 141.585 0 144.509 0H164.491C167.415 0 169.404 3.10885 169.102 6.01716C169.035 6.66888 169 7.3304 169 8C169 18.4934 177.507 27 188 27C198.493 27 207 18.4934 207 8C207 7.3304 206.965 6.66888 206.898 6.01716C206.596 3.10885 208.585 0 211.509 0H231.491C234.415 0 236.404 3.10885 236.102 6.01716C236.035 6.66888 236 7.3304 236 8C236 18.4934 244.507 27 255 27C265.493 27 274 18.4934 274 8C274 7.33039 273.965 6.66886 273.898 6.01712C273.596 3.10882 275.585 0 278.509 0H298.491C301.415 0 303.404 3.10882 303.102 6.01712C303.035 6.66886 303 7.33039 303 8C303 18.4934 311.507 27 322 27C332.493 27 341 18.4934 341 8C341 7.33039 340.965 6.66886 340.898 6.01712C340.596 3.10882 342.585 0 345.509 0H365.491C368.415 0 370.404 3.10882 370.102 6.01712C370.035 6.66886 370 7.33039 370 8C370 18.4934 378.507 27 389 27Z" /></svg>');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: cover;

    @include breakpoint (max-xxxl){
        padding: 45px 50px;
    }

    @include breakpoint (max-xl){
        max-width: initial;
        padding: 35px;
    }

    .shape-1 {
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .shape-2 {
        position: absolute;
        right: 40px;
        top: 170px;
    }

    &.style-2 {
        background: #FFFAD6;
    }

    &.style-3 {
        background: #F7EEFF;
    }

    .pricing-header {

        h3 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        h2 {
            font-size: 56px;
            border-bottom: 1px solid $header-color;
            padding-bottom: 5px;
            margin-bottom: 30px;

            span {
                font-size: 16px;
                font-weight: 400;
                font-family: $body-font;
                color: $text-color;
            }
        }
    }

    h6 {
        margin-bottom: 25px;
    }
    
    .pricing-list {

        li {
            font-size: 16px;
            font-weight: 500;
            position: relative;
            padding-left: 15px;
            color: $header-color;

            &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 30px;
                background-color: $header-color;
                left: 0;
                top: 10px;
            }

           &.style-2 {

            &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 30px;
                border: 1px solid $header-color;
                left: 0;
                top: 10px;
            }

           }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            del {
                color: rgba(10, 3, 31, 0.44);
            }
        }
    }

    .pricing-button {
        margin-top: 40px;

        .theme-btn {
            background: #62ABFF;

            &.style-2 {
                background: #80F8AB;
            }

            &.style-3 {
                background: #FFA762;
            }
        }
    }
}

.pricing-card-items-3 {
    margin-top: 30px;
    padding: 60px 50px;
    padding-top: 0;
    z-index: 9;
    margin-top: 30px;
    text-align: center;
    position: relative;
    max-width: 425px;
    z-index: 9;

    @include breakpoint (max-xl){
        max-width: initial;
    }

    &::before {
        background-color: #FFFAD6;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424 512"><path fill-rule="evenodd" clip-rule="evenodd"  d="M380 19C389.131 19 396.758 12.5586 398.584 3.97183C399.044 1.81102 400.791 0 403 0H420C422.209 0 424 1.79086 424 4V508C424 510.209 422.209 512 420 512H403C400.791 512 399.044 510.189 398.584 508.028C396.758 499.441 389.131 493 380 493C370.869 493 363.242 499.441 361.416 508.028C360.956 510.189 359.209 512 357 512H336C333.791 512 332.044 510.189 331.584 508.028C329.758 499.441 322.131 493 313 493C303.869 493 296.242 499.441 294.416 508.028C293.956 510.189 292.209 512 290 512H269C266.791 512 265.044 510.189 264.584 508.028C262.758 499.441 255.131 493 246 493C236.869 493 229.242 499.441 227.416 508.028C226.956 510.189 225.209 512 223 512H202C199.791 512 198.044 510.189 197.584 508.028C195.758 499.441 188.131 493 179 493C169.869 493 162.242 499.441 160.416 508.028C159.956 510.189 158.209 512 156 512H135C132.791 512 131.044 510.189 130.584 508.028C128.758 499.441 121.131 493 112 493C102.869 493 95.242 499.441 93.4158 508.028C92.9562 510.189 91.2091 512 89 512H68C65.7909 512 64.0438 510.189 63.5842 508.028C61.758 499.441 54.1312 493 45 493C35.8688 493 28.242 499.441 26.4158 508.028C25.9562 510.189 24.2091 512 22 512H4C1.79086 512 0 510.209 0 508V4C0 1.79086 1.79086 0 4 0H22C24.2091 0 25.9562 1.81102 26.4158 3.97183C28.242 12.5586 35.8688 19 45 19C54.1312 19 61.758 12.5586 63.5842 3.97183C64.0438 1.81102 65.7909 0 68 0H89C91.2091 0 92.9562 1.81102 93.4158 3.97183C95.242 12.5586 102.869 19 112 19C121.131 19 128.758 12.5586 130.584 3.97183C131.044 1.81102 132.791 0 135 0H156C158.209 0 159.956 1.81102 160.416 3.97183C162.242 12.5586 169.869 19 179 19C188.131 19 195.758 12.5586 197.584 3.97183C198.044 1.81102 199.791 0 202 0H223C225.209 0 226.956 1.81102 227.416 3.97183C229.242 12.5586 236.869 19 246 19C255.131 19 262.758 12.5586 264.584 3.97183C265.044 1.81102 266.791 0 269 0H290C292.209 0 293.956 1.81102 294.416 3.97183C296.242 12.5586 303.869 19 313 19C322.131 19 329.758 12.5586 331.584 3.97183C332.044 1.81102 333.791 0 336 0H357C359.209 0 360.956 1.81102 361.416 3.97183C363.242 12.5586 370.869 19 380 19Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        @include before;
        z-index: -1;
        top: 70px;
        height: initial;
    }

    .icon {
        background-color: #64EF96;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148 148"><path fill-rule="evenodd" clip-rule="evenodd"  d="M70.4377 3.61694C72.3963 1.62833 75.6037 1.62832 77.5623 3.61694L78.914 4.98929C80.5599 6.66051 83.1464 6.96283 85.1335 5.71625L86.7651 4.6926C89.1295 3.20927 92.2506 3.94896 93.6978 6.33566L94.6965 7.98272C95.9127 9.98849 98.3597 10.8791 100.581 10.1244L102.404 9.50463C105.047 8.60655 107.913 10.0461 108.771 12.7022L109.363 14.5352C110.084 16.7673 112.26 18.1983 114.595 17.9761L116.512 17.7936C119.291 17.5292 121.748 19.5909 121.97 22.3733L122.124 24.2934C122.31 26.6316 124.097 28.5258 126.421 28.8481L128.329 29.1127C131.093 29.4962 133.009 32.069 132.583 34.8276L132.29 36.7313C131.932 39.0495 133.234 41.3047 135.42 42.1542L137.216 42.8517C139.818 43.8625 141.088 46.8076 140.038 49.3937L139.313 51.1783C138.43 53.3516 139.177 55.8463 141.109 57.1771L142.695 58.2699C144.994 59.8534 145.551 63.0122 143.932 65.2863L142.816 66.8557C141.456 68.7669 141.607 71.3666 143.18 73.107L144.471 74.5361C146.342 76.607 146.156 79.8091 144.057 81.6487L142.608 82.9183C140.844 84.4643 140.392 87.0288 141.521 89.085L142.448 90.7734C143.791 93.2201 142.871 96.2928 140.405 97.5988L138.702 98.5C136.629 99.5975 135.598 101.989 136.222 104.25L136.735 106.106C137.478 108.797 135.874 111.575 133.172 112.277L131.308 112.761C129.038 113.351 127.483 115.44 127.569 117.784L127.639 119.709C127.742 122.498 125.541 124.831 122.75 124.891L120.824 124.932C118.479 124.983 116.484 126.657 116.028 128.957L115.652 130.847C115.109 133.584 112.429 135.347 109.7 134.762L107.816 134.358C105.523 133.866 103.196 135.035 102.221 137.168L101.42 138.92C100.26 141.459 97.2456 142.556 94.7249 141.357L92.9854 140.53C90.8671 139.522 88.3332 140.123 86.8924 141.974L85.7092 143.494C83.9947 145.696 80.8089 146.069 78.6327 144.321L77.1309 143.115C75.302 141.646 72.698 141.646 70.8691 143.115L69.3673 144.321C67.1911 146.068 64.0053 145.696 62.2908 143.494L61.1076 141.974C59.6668 140.123 57.1329 139.522 55.0146 140.53L53.2751 141.357C50.7545 142.556 47.7404 141.459 46.5801 138.92L45.7793 137.168C44.8042 135.035 42.4771 133.866 40.1835 134.358L38.3002 134.762C35.571 135.347 32.8912 133.584 32.3476 130.847L31.9724 128.957C31.5156 126.657 29.5207 124.983 27.1756 124.932L25.2498 124.891C22.4593 124.831 20.2582 122.498 20.3606 119.709L20.4313 117.784C20.5173 115.44 18.9623 113.351 16.692 112.761L14.8277 112.277C12.1262 111.575 10.5224 108.797 11.2653 106.106L11.778 104.25C12.4023 101.989 11.3709 99.5975 9.29781 98.5L7.59545 97.5988C5.12864 96.2928 4.20873 93.2201 5.55208 90.7734L6.47913 89.085C7.60807 87.0288 7.15587 84.4643 5.39177 82.9183L3.94315 81.6487C1.84402 79.8091 1.65752 76.607 3.52889 74.5361L4.82033 73.107C6.39302 71.3666 6.54444 68.7669 5.18443 66.8557L4.06763 65.2863C2.44933 63.0122 3.0063 59.8534 5.30481 58.2699L6.89102 57.1771C8.82268 55.8463 9.56954 53.3516 8.68694 51.1783L7.96218 49.3937C6.91196 46.8076 8.18237 43.8625 10.7841 42.8517L12.5796 42.1542C14.7661 41.3047 16.0681 39.0495 15.7105 36.7313L15.4168 34.8276C14.9913 32.069 16.9067 29.4962 19.6714 29.1127L21.5793 28.8481C23.9028 28.5258 25.6898 26.6316 25.8765 24.2934L26.0297 22.3733C26.2518 19.5909 28.7089 17.5292 31.4875 17.7936L33.4051 17.9761C35.7402 18.1983 37.9159 16.7673 38.6368 14.5352L39.2287 12.7022C40.0865 10.0461 42.9528 8.60655 45.5956 9.50463L47.4193 10.1244C49.6403 10.8791 52.0873 9.98849 53.3035 7.98273L54.3022 6.33566C55.7494 3.94896 58.8704 3.20927 61.2349 4.6926L62.8665 5.71625C64.8536 6.96283 67.4401 6.66052 69.086 4.9893L70.4377 3.61694Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        max-width: 148px;
        font-size: 70px;
        color: $white;
        height: 148px;
        text-align: center;
        line-height: 165px;
        margin: 0 auto;
    }

    .pricing-header {
        margin-top: 25px;
        border-bottom: 1px dashed rgba(10, 3, 31, 0.44);
        padding-bottom: 25px;

        h3 {
            margin-bottom: 5px;
        }

        h2 {
            font-size: 56px;
            margin-top: 5px;
        }
    }

    p {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &.color-2 {
        &::before {
            background-color: #F7EEFF;
        }

        .icon {
            background-color: #FFA762;
        }

        .theme-btn {
            background-color: #FFA762;

            i {
                background-color: $white;
                color: $header-color;
            }
        }
    }

    &.color-3 {
        &::before {
            background-color: #DDFFF5;
        }

        .icon {
            background-color: #62ABFF;
        }

        .theme-btn {
            background-color: #62ABFF;

            i {
                background-color: $white;
                color: $header-color;
            }
        }
    }
}

.pricing-section-3 {
   position: relative;

    &::before {
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 86%;
        background-image: url(../../assets/img/pricing/pricing-bg-3.png);
        content: "";
    }
}

.pricing-box-items-4 {

    border-radius: 6px;
    border: 1px solid rgba(10, 3, 31, 0.12);
    padding: 35px;
    margin-top: 30px;

    @include breakpoint (max-xl){
        padding: 25px;
    }

    .pricing-header {
        .icon-box {
            display: flex;
            gap: 20px;
            align-items: center;
            border-bottom: 1px solid #0A031F1F;
            padding-bottom: 18px;

            .icon {
                font-size: 56px;
                color: #FF94FF;
            }
        }

        h2 {
            font-size: 56px;
            font-weight: 400;
            margin-top: 20px;

            @include breakpoint (max-lg){
               font-size: 45px;
            }

            @include breakpoint (max-sm){
                font-size: 38px;
            }

            sub {
                font-size: 16px;
                font-weight: 400;
                color: #4E5154;
                font-family: $body-font;
            }
        }
    }

    .theme-btn {
        background-color: #FF94FF;
        margin-top: 30px;
        width: 100%;
        padding: 20px 30px;

        i {
            color: #FF94FF;
            position: absolute;
            right: 9px;
            top: 9px;
            bottom: 9px;
        }

        &:hover {
            i {
                background-color: #FF94FF;
                color: #0A031F;
            }
        }
    }

    h4 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 25px;
    }

    .pricing-list {
        margin-top: 20px;

        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            font-size: 16px;
            font-weight: 500;
            color: #0A031F;
            font-family: $body-font;
            position: relative;
            padding-left: 20px;

            del {
                color: #0A031F70;
            }
           

            &::before {
                position: absolute;
                top: 11px;
                left: 0;
                width: 6px;
                height: 6px;
                background-color: #0A031F;
                content: "";
                border-radius: 6px;
            }
        }
    }

    
    &.active {
        i {
            color: #FFC394;
        }

        .theme-btn {
            background-color: #FFC394;

            i {
               color: #FFC394; 
            }

            &:hover {
                i {
                    background-color: #FFC394;
                    color: #0A031F;
                }
            }
        }
    }

    &.active-2 {
        i {
            color: #62ABFF;
        }

        .theme-btn {
            background-color: #A8A0F6;

            i {
               color: #A8A0F6; 
            }

            &:hover {
                i {
                    background-color: #A8A0F6;
                    color: #0A031F;
                }
            }
        }
    }
}